body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #222;
  color: #f0f0f0;
}

nav a {
  color: #00d8ff;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  color: #00aaff;
}


main {
  padding: 2rem;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
